.dragAndDrop_Container{
    /* border: 2px solid red; */
    margin: 20px 0px 0px 430px;
    width: 40%;
}

.bulkButton{
    display: flex;
    width: 510px;
    justify-content: space-between;
}

.invoiceDetails{
    margin: 30px 0px 0px 0px;
}