.header {
    background-color: #469f7b;
    color: #eee;
}

.navbar-logo {
    width: 1.5em;
    height: auto;
}

.nav-link { color: #fff;}
.nav-link:hover { color: #eee; }

.auth-link { color: #fff; }
.auth-link:hover { color: #eee; }

.uploadBtn{
    /* border: 2px solid red; */
    margin: 0px 20px 0px 0px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
