.header {
    /* background-color: #469f7b; */
    background-color: #131921;
    color: #eee;
}

.navbar-logo {
    width: 1.5em;
    height: auto;
}

.nav-link { color: #fff;}
.nav-link:hover { color: #eee; }

.auth-link { color: #fff; }
.auth-link:hover { color: #eee; }

.uploadBtn{
    /* border: 2px solid red; */
    margin: 0px 20px 0px 0px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

/* For search bar css */
div.container a.input-group-btn {
    font-size: 14px;
}

.suggestions {
    position: relative;
    display: inline-block;
    width: inherit;
    z-index:99
}

.input-group {
    flex-wrap: nowrap;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }